# Build options
ARCH:=X86_64

DEBUG:=TRUE

# Log level
# 0 = FATAL
# 1 = CRITICAL
# 2 = ERROR
# 3 = WARNING
# 4 = INFO
# 5 = DEBUG
LOGLEVEL:=5

# Binaries
CC:=gcc
CXX:=g++
ASM:=nasm
LINK:=ld

# Flags
INCLUDE_DIRS=-I$(SOURCE_DIR)/arch/include -I$(SOURCE_DIR)/modules/include -I$(SOURCE_DIR)/kernel/include -I$(SOURCE_DIR)/utils/include
# These values are passed to the C compiler
DEFINE_VALS=-DVERSION=\"$(VERSION)\" -DVERSION_NAME=\"$(VERSION_NAME)\" -DVERSION_DOMAIN=\"$(VERSION_DOMAIN)\" -DLOGLEVEL=$(LOGLEVEL)
CC_FLAGS=-nostdinc -ffreestanding -Wall -Wextra -Werror -Wno-unused-parameter -Wno-unused-variable -c -masm=intel -zmuldefs -fno-stack-protector -fno-omit-frame-pointer -fdata-sections -ffunction-sections $(INCLUDE_DIRS) $(DEFINE_VALS)
CXX_FLAGS=$(CC_FLAGS)
ASM_FLAGS=-f elf64 -Wall
LINK_ARCH=-m elf_x86_64
LINK_FLAGS=$(LINK_ARCH) -nostdlib -z muldefs -Map synos.map